.notification-container {
  padding: 20px 0;
  box-sizing: border-box;
  position: fixed;
  color: white;
  z-index: 400;
  min-width: 400px;
  cursor: pointer;
  visibility: hidden;

  @include mobile {
    min-width: 100vw;
  }

  @include flex(center, space-evenly);

  button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
  }

  i {
    font-size: 40px;
  }
}

.bottom-right {
  bottom: 12px;
  right: 12px;
  transition: transform 0.6s ease-in-out;
  animation: toast-in-right 0.7s;

  @include mobile {
    bottom: 0;
    right: 0;
  }
}

.notification-title {
  font-size: 20px;
  font-weight: 600;
}

.notification-message {
  font-size: 16px;
}

.toast {
  &-green {
    background-color: #5cb85c;

    &:hover {
      background-color: #479147;
    }
  }

  &-red {
    background-color: #ff0000;

    &:hover {
      background-color: #a80000;
    }
  }
}

.active {
  visibility: visible;
}
